* {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
}

body {
  background-image: url(back.png);
}

.container {
  width: 100vw;
  overflow-x: hidden;
  /* background-color: rgb(255, 0, 0); */
  height: min-content;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 715px 140px auto 140px;
  grid-template-areas:
    "profile pict pict"
    "project project project"
    "main main main"
    "road road road";
}

.a {
  /* background-color: rgb(105, 93, 93); */
  grid-area: profile;
}

.b {
  /* background-image: radial-gradient(fra rgb(255, 0, 0), rgb(255, 0, 144)); */
  /* background-color: red; */
  grid-area: pict;
  position: relative;
}

.c {
  background-color: rgba(39, 39, 39, 0.653);
  grid-area: project;
  z-index: 5;
}

.d {
  grid-area: main;
  z-index: 5;
}

.e {
  grid-area: road;
  z-index: 5;
}

.a .link {
  /* background-color: gold; */
  padding: 20px;
}

.link a {
  padding-right: 20px;
  box-sizing: border-box;
  text-decoration: none;
  color: rgb(255, 0, 0);
}

.link a:last-child {
  color: rgb(255, 0, 144);
}

.a .data-diri {
  /* background-color: rgb(134, 134, 134); */
  padding: 40px 0 0 120px;
}

.a .data-diri p {
  padding-bottom: 6px;
}

.a .data-diri p:last-child {
  /* background-color: rgb(0, 136, 255); */
  padding-top: 100px;
  margin-left: -60px;
}

.b img:first-child {
  z-index: 3;
  position: absolute;
  bottom: 0;
  margin-bottom: -8px;
}

.b img:nth-child(2) {
  position: absolute;
  margin-left: 400px;
  z-index: 2;
  transform: rotate(-45deg);
  animation: ttd 2s;
}

.b span:nth-child(4) {
  position: absolute;
  z-index: 1;
  width: 900px;
  height: 800px;
  padding-right: 200px;
  padding-bottom: 10px;
  background-image: radial-gradient(rgb(255, 0, 0), rgb(255, 0, 144));
  border-radius: 20px;
  transform: rotate(-45deg);
  box-shadow: 5px 5px 20px black;
  animation: ttd 2s;
}

.b span:nth-child(3) {
  position: absolute;
  width: 850px;
  height: 770px;
  padding-right: 200px;
  padding-bottom: 10px;
  background-color: transparent;
  transform: rotate(-45deg);
  animation: color 5s alternate infinite;
}

.c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c p {
  font-size: 4em;
  color: white;
}

.d {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  box-sizing: border-box;
  gap: 80px;
  background-color: rgba(39, 39, 39, 0.742);
  padding: 0 70px;
  padding-top: 60px;
  padding-bottom: 70px;
  height: min-content;
}

.item-p {
  text-align: center;
  height: min-content;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.436);
  border-radius: 10px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

.item-p img {
  width: 100%;
}

.item-p h5 {
  margin-top: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  position: absolute;
  margin-left: 18px;
}

.item-p p {
  /* background-color: red; */
  padding-bottom: 90px;
  margin-top: 40px;
  opacity: 0;
  transition: 0.2s;
}

.item-p a {
  text-decoration: none;
  color: black;
  background-color: rgba(0, 0, 0, 0.504);
  display: block;
  padding: 30px;
}

.item-p:hover p {
  opacity: 1;
}

.e {
  background-color: red;
}

.e {
  display: flex;
  justify-content: center;
  align-items: center;
}

.e p {
  font-size: 4em;
  color: white;
}

.f {
  justify-content: space-evenly;
  box-sizing: border-box;
  background-color: rgba(39, 39, 39, 0.742);
  padding: 50px 0;
  width: 100vw;
}

.f ul {
  /* background-color: pink; */
  width: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.f ul li {
  padding: 10px 20px;
}

/* RESPONSIVE */
@media screen and (max-width: 576px) {
  .container {
    grid-template-columns: 40% 60%;
    grid-template-rows: 200px 574px 140px auto;
    grid-template-areas:
      "profile profile profile"
      "pict pict pict"
      "project project project"
      "main main main"
      "road road road";
  }

  .b img:first-child {
    width: 350px;
  }

  .b img:nth-child(2) {
    width: 50px;
    margin-left: 410px;
    bottom: 20px;
  }

  .a .data-diri p:last-child {
    width: 160px;
    padding-left: 300px;
    padding-top: 200px;
    z-index: 99;
    position: absolute;
  }
}

@media screen and (max-width: 768px) {
  .a .data-diri {
    padding: 40px 0 0 50px;
  }

  .a .data-diri p:last-child {
    margin-left: 0px;
  }
}

@media screen and (max-width: 505px) {
  .a .data-diri p:last-child {
    display: none;
  }
}

/* ANIMATION */

@keyframes ttd {
  0% {
    transform: translateX(1000px) translateY(-1000px) rotate(-45deg);
  }

  100% {
    transform: translateX(0) translateY(0) rotate(-45deg);
  }
}

@keyframes color {
  0% {
    border-top: 5px solid rgb(0, 0, 0);
    transform: translateX(200px) translateY(-200px) rotate(-45deg);
  }

  100% {
    border-top: 5px solid rgb(255, 0, 0);
    transform: translateX(0) translateY(0) rotate(-45deg);
  }
}
